/* Fonts */
@font-face {
  font-family: "DM Sans";
  src: url(./fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-secondary: Roboto, Arial, Helvetica, sans-serif;
  --modal-duration: 0.8s;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* #### Landing Page #### */
/* #### Global #### */
body {
  margin: 0;
  flex-direction: column;
  font-family: var(--font-default);
  font-size: 18px;
  margin: auto;
  max-width: 1440px;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

button {
  font-family: var(--font-default);
  font-weight: 500;
}

img {
  padding-right: 1rem;
}

/* #### Header #### */
/* #### Header global #### */
.topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 50px 60px 80px 60px;
  align-items: end;
}

/* #### Header logo #### */
.header-logo .homepage-link {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.header-logo .homepage-link:hover,
.topnav a.icon:hover {
  background: none;
}

.header-logo>a>img {
  height: 50px;
  padding: 0;
}

/* #### Header nav #### */
.main-navbar {
  float: right;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 8px 12px;
  margin: 0 3px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.topnav a:hover {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 8px;
}

.topnav a.active {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 8px;
}

.topnav a.active>span {
  border-bottom: 1px solid;
}

.topnav .icon {
  display: none;
}

/* Integrating font-awesome asset instead of relying on CDN */
/* Avoid loading entire library just for 1 occurence + avoiding console errors on unused glyphs */
a.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
}

.burger-menu {
  width: 20px;
  fill: #ff0000;
}

.modal-btn {
  font-size: 145%;
  background: #fe142f;
  display: flex;
  margin: auto;
  padding: 2em;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.modal-btn:hover {
  background: #3876ac;
}

footer {
  font-family: var(--font-secondary);
  margin: 100px 60px 60px 60px;
}

/* Modal form */

.button {
  background: #fe142f;
  margin-top: 0.5em;
  padding: 1em;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background: #3876ac;
}

.smFont {
  font-size: 16px;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
  position: relative;
}

.modal-validation {
  display: none;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #232323;
  padding: 15px 40px;
}

.validation-txt {
  font-size: 36px;
  text-align: center;
}

label {
  font-family: var(--font-default);
  font-size: 0.875rem;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 1.125rem;
  height: 48px;
  font-family: var(--font-default);
}

.formData {
  margin-bottom: 12px;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.625rem;
  color: #e54858;
  font-family: var(--font-secondary);
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}

/* 
input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
} */

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 0.75rem;
  font-weight: normal;
  font-family: var(--font-secondary);
  line-height: 2.2;
  padding: 0 6px;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 26px;
  height: 26px;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  transition: 0.3s;
}

input:checked + .checkbox-label .checkbox-icon {
  border: 1px solid #279e7a;
}

.checkbox-label .checkbox-icon::after {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #279e7a;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 3px;
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked+.checkbox-label .checkbox-icon::after,
.checkbox-input:checked+.checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked+.checkbox2-label .checkbox-icon {
  background: #279e7a;
}

.checkbox2-label .checkbox-icon {
  border-radius: 6px;
  border: 0;
  background: #c4c4c4;
}

input:checked + .checkbox2-label .checkbox-icon::after {
  content: url(./check.svg);
  position: absolute;
  left: 6px;
  top: 0px;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  z-index: 100;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.btn-submit,
.btn-signup,
.btn-validation {
  background: #fe142f;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.btn-submit,
.btn-validation {
  width: 240px;
  font-family: var(--font-default);
  font-size: 0.875rem;
}

.btn-submit[disabled] {
  background: #fe142f4a;
  color: #ffffff28;
  cursor: default;
}

/* custom select styles */
.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: normal;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #fff;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  border-bottom-color: #f00;
  border-left-color: #f00;
  transform: rotate(-48deg);
  border-radius: 5px 0 5px 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(135deg);
  top: 13px;
}

.select-items div,
.select-selected {
  color: #000;
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* custom select end */
.text-label {
  font-weight: normal;
  font-size: 0.875rem;
  margin-bottom: 12px;
}

.hero-section {
  border-radius: 8px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #232323;
  margin: 0 60px;
  justify-content: space-between;
  max-height: 684px;
}

.hero-content {
  padding: 51px 67px;
  color: #fff;
  position: relative;
  text-align: left;
  flex-basis: 510px;
  flex-grow: 0;
  max-width: 510px;
}

.hero-headline {
  font-size: 6rem;
  font-weight: 500;
  white-space: nowrap;
}

.hero-text {
  max-width: 430px;
  font-weight: normal;
  margin-top: 73px;
  padding: 0;
  font-size: 1.5rem;
}

.btn-signup {
  outline: none;
  text-transform: capitalize;
  font-size: 1.6rem;
  padding: 11px 32px;
  margin: 0;
  margin-top: 73px;
}

.hero-img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img img {
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  object-fit: cover;
}

.copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.hero-section>.btn-signup {
  display: none;
}

/* #### Header breakpoints #### */
@media screen and (max-width: 1024px) {
  .topnav {
    align-items: start;
    margin: 30px;
  }

  .header-logo {
    order: 1;
    min-width: 50%;
  }

  .icon {
    order: 3;
  }

  .main-navbar {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    padding: 10px;
  }

  a.nav-item {
    float:inline-end;
    width: 250px;
    text-wrap: nowrap;
    text-align: center;
    /* border-bottom: solid 1px rgba(0, 0, 0, 0.1); */
    /* border-radius: 8px; */
    margin: 3px;
    /* background-color: #FE142F; */
    /* color: #fff; */
    display: block;
    text-align: center;
  }

  a.nav-item:hover > span {
    border-bottom: none;
  }

  a.nav-item > span {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  }

  .header-logo > a > img {
    height: 20px;
  }

  a.icon {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
  }

  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
    flex-wrap: wrap;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    display: block;
  }

  .topnav.responsive a.active {
    border-bottom: none;
  }

  main, .hero-section, .hero-content, h1 {
    background-color: magenta !important;
  }
}

@media screen and (max-width: 1024px) {
  .hero-section {
    display: block;
    box-shadow: unset;
  }

  .hero-content {
    background: #fff;
    color: #000;
    padding: 20px;
  }

  .hero-content::after {
    content: unset;
  }

  .hero-content .btn-signup {
    display: none;
  }

  .hero-headline {
    font-size: 4.5rem;
    white-space: normal;
  }

  .hero-img img {
    border-radius: 10px;
    margin-top: 40px;
  }

  .hero-section>.btn-signup {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
  }

  .copyrights {
    margin-top: 50px;
    text-align: center;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }

  to {
    opacity: 1;
  }
}